package $serviceImplPackage;

import com.yk.common.mybatis.service.impl.BaseServiceImpl;
import org.springframework.stereotype.Service;
import $dtoClassName;
import $daoClassName;
import $entityClassName;
import $serviceClassName;
import lombok.extern.slf4j.Slf4j;

@Slf4j
@Service
public class $serviceImplName extends BaseServiceImpl<$dtoName, $daoName, $entityName>
    implements $serviceName {



}