<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="$daoClassName">
    <cache eviction="LRU" type="com.yk.service.cache.MybatisRedisCache"/>
    <resultMap id="BaseResultMap" type="$entityClassName">
#if($table.columnKey)
        <id column="$table.columnKey.columnName" property="$table.columnKey.propertyName"/>
#end
#foreach($item in $table.columnList)
        <result column="$item.columnName" property="$item.propertyName"#if($item.typeHandler) typeHandler="$item.typeHandler"#end/>
#end
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into $tableName (
#if($table.columnKey)
        `$table.columnKey.columnName`,
#end
#set($flag=true)
#foreach($item in $table.columnList)
#if($flag)
#set($flag=false)
        `$item.columnName`#else,
        `$item.columnName`#end
#end)
        values (
#if($table.columnKey)
        #{$table.columnKey.propertyName},
#end
#set($flag=true)
#foreach($item in $table.columnList)
#if($flag)
#set($flag=false)
        #{$item.propertyName#if($item.typeHandler),typeHandler=$item.typeHandler#end}#else,
        #{$item.propertyName#if($item.typeHandler),typeHandler=$item.typeHandler#end}#end
#end)
    </insert>
#if($table.columnKey)

    <update id="update">
        update $tableName
        <set>
#foreach($item in $table.columnList)
            <if test="${item.propertyName} != null">
                `$item.columnName`=#{${item.propertyName}#if($item.typeHandler),typeHandler=$item.typeHandler#end},
            </if>
#end
        </set>
        where `$table.columnKey.columnName`=#{${table.columnKey.propertyName}}
    </update>
#end

    <select id="findListWithoutPage" resultMap="BaseResultMap">
        <include refid="findList"/>
    </select>
    <sql id="findList">
        select
        *
        from $tableName
#if($table.columnKey)
        <where>
            <if test="${table.columnKey.propertyName} != null">
                and `$table.columnKey.columnName`=#{${table.columnKey.propertyName}}
            </if>
        </where>
        ORDER by $table.columnKey.columnName desc
#end
    </sql>
    <select id="findListByPage" resultMap="BaseResultMap">
        <include refid="findList"/>
    </select>
#if($table.columnKey)

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        *
        FROM $tableName
        where `$table.columnKey.columnName`=#{${table.columnKey.propertyName}}
    </select>
#end

</mapper>